@tailwind utilities;

@layer utilities {
  .fc-button-active-dark {
    --tw-ring-color: var(--fc-button-active-dark-focus-ring-color);

    background-color: var(--fc-button-active-dark-bg-color) !important;
  }

  .fc-button-active-dark:hover {
    background-color: var(--fc-button-active-dark-hover-bg-color) !important;
  }

  .fc-event-google-dark {
    background-color: var(--fc-google-event-dark-bg-color);
    color: var(--fc-google-event-dark-text-color);
    border-color: var(--fc-google-event-dark-border-color);
  }

  .fc-event-google-dark:hover {
    background-color: var(--fc-google-event-dark-hover-bg-color);
  }
}

:root {
  --fc-border-color: theme('colors.zinc.200');
  --fc-event-border-color: transparent;
  --fc-button-active-bg-color: theme('colors.amber.600');
  --fc-button-active-dark-bg-color: theme('colors.amber.400');
  --fc-button-active-hover-bg-color: theme('colors.amber.600');
  --fc-button-active-dark-hover-bg-color: theme('colors.amber.400');
  --fc-button-active-border-color: transparent;
  --fc-button-active-focus-ring-color: theme('colors.amber.500' / 50%);
  --fc-button-active-dark-focus-ring-color: theme('colors.amber.400' / 50%);
  --fc-button-active-text-color: theme('colors.white');
  --fc-button-bg-color: theme('colors.white');
  --fc-button-border-color: theme('colors.zinc.950' / 10%);
  --fc-button-hover-bg-color: theme('colors.zinc.50');
  --fc-button-hover-border-color: theme('colors.zinc.950' / 10%);
  --fc-button-text-color: theme('colors.zinc.950');
  --fc-google-event-bg-color: theme('colors.red.500' / 10%);
  --fc-google-event-hover-bg-color: theme('colors.red.500' / 20%);
  --fc-google-event-text-color: theme('colors.zinc.950');
  --fc-google-event-border-color: theme('colors.red.600' / 10%);
  --fc-google-event-dark-bg-color: theme('colors.red.400' / 5%);
  --fc-google-event-dark-hover-bg-color: theme('colors.white' / 10%);
  --fc-google-event-dark-text-color: theme('colors.white');
  --fc-google-event-dark-border-color: theme('colors.red.600' / 10%);
  --fc-non-business-color: theme('colors.zinc.300' / 25%);
  --fc-now-indicator-color: theme('colors.red.500');
  --fc-page-bg-color: transparent;
}

.fc .fc-button {
  border-radius: 0.5rem;
}

.fc-button-primary {
  @apply dark:bg-white/5 dark:text-white dark:hover:text-white dark:hover:bg-white/10 focus:ring-2 focus:ring-gray-950/10 dark:focus:ring-white/20;
  @apply text-sm font-semibold focus:shadow-none !important;
}

.fc-button-primary:disabled {
  @apply dark:bg-white/5 dark:text-white dark:hover:text-white dark:hover:bg-white/10 cursor-not-allowed opacity-75;
}

.fc-button-active {
  --tw-ring-color: var(--fc-button-active-focus-ring-color) !important;

  color: var(--fc-button-active-text-color) !important;

  @apply focus:shadow-none focus:ring-2;
  @apply dark:fc-button-active-dark !important;
}

.fc-button-active:hover {
  background-color: var(--fc-button-active-hover-bg-color) !important;
}

.fc-col-header-cell-cushion,
.fc-timegrid-axis-cushion,
.fc-timegrid-slot-label-cushion {
  @apply text-xs;
}

.fc-event-secondary,
.fc-event-secondary > .fc-event-main {
  @apply bg-white text-zinc-950 border-zinc-950/10 hover:bg-zinc-50 dark:bg-white/5 dark:hover:bg-white/10 !important;
}

.fc-event-google,
.fc-event-google > .fc-event-main {
  background-color: var(--fc-google-event-bg-color);
  color: var(--fc-google-event-text-color);
  border-color: var(--fc-google-event-border-color);

  @apply pointer-events-none dark:fc-event-google-dark !important;
}

.fc-event-google:hover {
  background-color: var(--fc-google-event-hover-bg-color);
}

.fc-event-time,
.fc-event-title {
  @apply font-semibold;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  @apply dark:border-zinc-200/10;
}

.fc-toolbar-title {
  @apply text-lg capitalize !important;
}

.fc-daygrid-block-event {
  @apply m-0.5 p-0;

  white-space: normal;

  .fc-event-time {
    @apply rounded m-0 px-1 py-0.5;

    background-color: rgb(0 0 0 / 10%);
  }

  .fc-event-title-container {
    @apply px-1 py-0.5;

    border: 1px solid rgb(0 0 0 / 10%);
  }
}

.fc-event-main-frame {
  flex-direction: column;
}

.fc-popover {
  @apply rounded-xl bg-white shadow-sm border-none ring-2 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/30 max-w-xs w-full !important;

  .fc-popover-header {
    @apply rounded-t-xl px-2 p-0.5 font-semibold text-sm;
  }
}
